.master{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: black;
  /* background: rgb(20,54,66);
  background: linear-gradient(162deg, rgba(20,54,66,0.794292717086834) 43%, rgba(34,196,193,0.861782212885154) 80%); */
}

.container{
  min-height: 690px;
  width: 700px;
  min-width: 200px;
  /* background-color: rgb(255, 190, 134, .4); */
  /* background-color: rgb(255, 190, 134); */
  background-color: whitesmoke;
  border-radius: 15px;
  border-style: solid;
  border-color: #827191;
  border-width: 8px;
  box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
  

}

.text-body{
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px
}

.hover-text{
  color: blue;
}

#tooltip-image{
  max-height: 250px;
  min-width: 100px;
  margin: 20px;
  transition-timing-function: ease;
  border-radius: 25px;
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

#tooltip-image-link{
  max-height: 250px;
  margin: 20px;
  transition-timing-function: ease;
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  border-radius: 25px;
  border-style: solid;
  /* border-color: lightgreen; */
  border-width: 10px;
  animation: border-pulsate 2s infinite;

}

@keyframes border-pulsate {
  0%   { border-color: rgba(0, 255, 255, 1); }
  /* 50%  { border-color: rgba(0, 255, 255, 0); } */
  50% { border-color: lightgreen;}
  100% { border-color: rgba(0, 255, 255, 1); }
}



#image-container{
  text-align: center;
}